In [8]:
from azureml.opendatasets import NycTlcGreen, NycTlcYellow
import pandas as pd
from datetime import datetime

In [12]:
green_taxi_df = pd.DataFrame([])

start = datetime.strptime("1/1/2016","%m/%d/%Y")
end = datetime.strptime("1/31/2016","%m/%d/%Y")

green_taxi_df = NycTlcGreen(start, end).to_pandas_dataframe()
green_taxi_df = green_taxi_df.sample(10000)

[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpyp79b86k/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet

In [13]:
green_taxi_df.describe()

,vendorID,passengerCount,tripDistance,pickupLongitude,pickupLatitude,dropoffLongitude,dropoffLatitude,rateCodeID,paymentType,fareAmount,extra,mtaTax,tipAmount,tollsAmount,ehailFee,totalAmount,tripType
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,10000.000000,0.0,10000.000000,10000.000000
mean,1.777100,1.354300,2.768521,-73.789091,40.664755,-73.810105,40.675207,1.101500,1.523700,11.969977,0.3543,0.485300,1.226547,0.110250,NaN,14.437494,1.023800
std,0.416213,1.012262,3.318024,3.303713,1.821418,3.046413,1.679603,0.620029,0.531288,11.484967,0.3718,0.090745,2.521400,0.817375,NaN,13.033405,0.152433
min,1.000000,0.000000,0.000000,-75.104485,0.000000,-74.223686,0.000000,1.000000,1.000000,-52.000000,-1.0000,-0.500000,0.000000,0.000000,NaN,-52.800000,1.000000
25%,2.000000,1.000000,1.020000,-73.960861,40.693399,-73.968735,40.694201,1.000000,1.000000,6.500000,0.0000,0.500000,0.000000,0.000000,NaN,7.800000,1.000000
50%,2.000000,1.000000,1.800000,-73.946411,40.746086,-73.945751,40.745293,1.000000,2.000000,9.000000,0.5000,0.500000,0.000000,0.000000,NaN,11.160000,1.000000
75%,2.000000,1.000000,3.400000,-73.918602,40.801064,-73.912271,40.789408,1.000000,2.000000,14.500000,0.5000,0.500000,2.000000,0.000000,NaN,17.290000,1.000000
max,2.000000,6.000000,124.240000,0.000000,40.918194,0.000000,41.035172,5.000000,4.000000,510.500000,1.0000,0.500000,98.000000,21.000000,NaN,532.300000,2.000000

In [11]:
green_taxi_df.head(10)

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType
0,1,2016-01-01 18:22:38,2016-01-01 18:32:49,1,1.6,None,None,-73.957954,40.815201,-73.938812,...,2,8.5,0.0,0.5,0.3,0.00,0.0,NaN,9.30,1.0
1,1,2016-01-01 18:22:34,2016-01-01 18:33:30,1,2.2,None,None,-73.994041,40.703194,-74.009689,...,2,10.0,0.0,0.5,0.3,0.00,0.0,NaN,10.80,1.0
2,1,2016-01-01 18:21:04,2016-01-01 18:28:59,1,1.5,None,None,-73.951508,40.713989,-73.933250,...,1,7.5,0.0,0.5,0.3,1.65,0.0,NaN,9.95,1.0
3,1,2016-01-01 18:22:14,2016-01-01 18:24:59,1,0.6,None,None,-73.956779,40.665852,-73.950516,...,2,4.5,0.0,0.5,0.3,0.00,0.0,NaN,5.30,1.0
4,1,2016-01-01 18:22:15,2016-01-01 18:27:32,1,1.3,None,None,-73.937698,40.797188,-73.953369,...,2,6.0,0.0,0.5,0.3,0.00,0.0,NaN,6.80,1.0
5,1,2016-01-01 18:22:29,2016-01-01 18:37:55,1,2.8,None,None,-73.994644,40.684982,-73.954193,...,1,12.5,1.0,0.5,0.3,2.85,0.0,NaN,17.15,1.0
6,1,2016-01-01 18:24:11,2016-01-01 18:31:54,1,1.5,None,None,-73.958138,40.715492,-73.954796,...,1,7.5,0.0,0.5,0.3,1.65,0.0,NaN,9.95,1.0
7,1,2016-01-01 18:22:04,2016-01-01 18:24:41,2,0.4,None,None,-73.946526,40.788952,-73.939949,...,1,4.0,0.0,0.5,0.3,0.95,0.0,NaN,5.75,1.0
8,1,2016-01-01 18:22:52,2016-01-01 18:33:57,1,1.9,None,None,-73.829918,40.713783,-73.830658,...,1,9.5,0.0,0.5,0.3,0.00,0.0,NaN,10.30,1.0
9,1,2016-01-01 18:21:50,2016-01-01 18:27:04,1,0.9,None,None,-73.942665,40.806767,-73.951904,...,2,5.5,1.0,0.5,0.3,0.00,0.0,NaN,7.30,1.0

In [14]:
yellow_taxi_df = pd.DataFrame([])

start = datetime.strptime("1/1/2016","%m/%d/%Y")
end = datetime.strptime("1/31/2016","%m/%d/%Y")

yellow_taxi_df = NycTlcYellow(start, end).to_pandas_dataframe()
yellow_taxi_df = yellow_taxi_df.sample(10000)

[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00000-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426339-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00016-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426328-88.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00001-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426336-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00017-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426323-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00002-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426334-91.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00018-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426329-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00003-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426340-87.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00019-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426333-88.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00004-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426331-88.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00005-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426324-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00006-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426326-88.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00007-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426332-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00008-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426341-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00009-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426325-88.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00010-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426335-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00011-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426338-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00012-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426337-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00013-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426327-89.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00014-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426330-90.c000.snappy.parquet
[Info] read from /var/folders/23/9mlldg893ms3d5sk6kqm5z_40000gn/T/tmpnybbl39u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/yellow/puYear=2016/puMonth=1/part-00015-tid-8898858832658823408-a1de80bd-eed3-4d11-b9d4-fa74bfbd47bc-426342-89.c000.snappy.parquet

In [15]:
yellow_taxi_df.describe()

,passengerCount,tripDistance,startLon,startLat,endLon,endLat,rateCodeId,fareAmount,extra,mtaTax,tipAmount,tollsAmount,totalAmount
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.647700,2.867683,-72.805039,40.107392,-72.916000,40.169344,1.049200,12.430738,0.308404,0.497000,1.737327,0.298866,15.571705
std,1.303286,3.569907,9.225153,5.082053,8.783014,4.838620,1.024834,11.107643,0.363181,0.042909,2.294281,1.419100,13.495601
min,0.000000,0.000000,-74.181389,0.000000,-74.663643,0.000000,1.000000,-150.000000,-0.500000,-0.500000,0.000000,0.000000,-150.300000
25%,1.000000,1.000000,-73.991495,40.736906,-73.991045,40.734742,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,8.300000
50%,1.000000,1.670000,-73.981613,40.753771,-73.979424,40.754410,1.000000,9.000000,0.000000,0.500000,1.260000,0.000000,11.620000
75%,2.000000,3.050000,-73.966574,40.768053,-73.962379,40.769912,1.000000,14.000000,0.500000,0.500000,2.350000,0.000000,17.160000
max,6.000000,61.870000,0.000000,41.014610,0.000000,41.269920,99.000000,280.000000,1.000000,0.500000,35.000000,28.500000,341.840000

In [16]:
yellow_taxi_df.head(10)

,vendorID,tpepPickupDateTime,tpepDropoffDateTime,passengerCount,tripDistance,puLocationId,doLocationId,startLon,startLat,endLon,...,rateCodeId,storeAndFwdFlag,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,totalAmount
317748,2,2016-01-29 12:02:21,2016-01-29 12:23:00,3,2.16,None,None,-73.975159,40.741528,-73.970528,...,1,N,1,14.0,0.0,0.5,0.3,3.70,0.0,18.50
261588,1,2016-01-09 09:09:14,2016-01-09 09:15:33,1,1.20,None,None,-73.994225,40.761356,-73.979240,...,1,N,1,6.5,0.0,0.5,0.3,1.00,0.0,8.30
149663,2,2016-01-17 17:06:43,2016-01-17 17:14:11,1,1.03,None,None,-73.988731,40.736900,-73.977715,...,1,N,1,6.5,0.0,0.5,0.3,2.19,0.0,9.49
495331,2,2016-01-30 10:15:59,2016-01-30 10:40:02,1,3.88,None,None,-73.981636,40.764557,-74.001976,...,1,N,2,17.0,0.0,0.5,0.3,0.00,0.0,17.80
514872,2,2016-01-24 21:47:53,2016-01-24 22:05:01,1,6.64,None,None,-73.870911,40.773827,-73.810486,...,1,N,1,20.5,0.5,0.5,0.3,10.00,0.0,31.80
148116,2,2016-01-30 19:57:26,2016-01-30 20:19:55,2,2.65,None,None,-73.981857,40.751957,-74.002167,...,1,N,1,15.0,0.0,0.5,0.3,3.16,0.0,18.96
148249,1,2016-01-15 18:52:12,2016-01-15 19:56:19,1,19.30,None,None,-73.863739,40.769745,-73.979782,...,1,N,2,59.0,1.0,0.5,0.3,0.00,0.0,60.80
508708,1,2016-01-08 08:30:13,2016-01-08 08:43:27,1,3.90,None,None,-73.984169,40.740463,-74.003784,...,1,N,1,14.5,0.0,0.5,0.3,2.00,0.0,17.30
113969,2,2016-01-16 22:38:56,2016-01-16 23:04:42,1,10.22,None,None,-73.873222,40.774109,-73.950737,...,1,N,1,31.0,0.5,0.5,0.3,2.00,0.0,34.30
270352,1,2016-01-12 16:29:15,2016-01-12 16:33:37,2,0.70,None,None,-73.973030,40.763901,-73.982155,...,1,N,2,5.0,1.0,0.5,0.3,0.00,0.0,6.80

In [19]:
green_taxi_df['puLocationId'].unique()

array([None], dtype=object)

In [21]:
green_taxi_df['doLocationId'].unique()

array([None], dtype=object)

In [17]:
green_taxi_df.columns

Index(['vendorID', 'lpepPickupDatetime', 'lpepDropoffDatetime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'pickupLongitude', 'pickupLatitude', 'dropoffLongitude',
       'dropoffLatitude', 'rateCodeID', 'storeAndFwdFlag', 'paymentType',
       'fareAmount', 'extra', 'mtaTax', 'improvementSurcharge', 'tipAmount',
       'tollsAmount', 'ehailFee', 'totalAmount', 'tripType'],
      dtype='object')

In [18]:
yellow_taxi_df.columns

Index(['vendorID', 'tpepPickupDateTime', 'tpepDropoffDateTime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'startLon', 'startLat', 'endLon', 'endLat', 'rateCodeId',
       'storeAndFwdFlag', 'paymentType', 'fareAmount', 'extra', 'mtaTax',
       'improvementSurcharge', 'tipAmount', 'tollsAmount', 'totalAmount'],
      dtype='object')

We will delete **puLocationId** and **doLocationId** due to data unavailability in these columns.

From the cost perspective we are interested in **fareAmount**. So, we will delete all other related columns like **tipAmount**, **tipAmount**, **mtaTax**, **tollsAmount**, **totalAmount**, **paymentType**, **extra**, **improvementSurcharge**.

The **ehailFee** and **tripType** columns will be deleted since they are not available in the yellow dataset.

In [31]:
green_columns = ['vendorID', 'lpepPickupDatetime', 'lpepDropoffDatetime',
                 'passengerCount', 'tripDistance', 'pickupLongitude',
                 'pickupLatitude', 'dropoffLongitude', 'dropoffLatitude',
                 'storeAndFwdFlag', 'fareAmount']

green_taxi_df_updated = green_taxi_df[green_columns]

In [32]:
yellow_columns = ['vendorID', 'tpepPickupDateTime', 'tpepDropoffDateTime',
                 'passengerCount', 'tripDistance', 'startLon',
                 'startLat', 'endLon', 'endLat',
                 'storeAndFwdFlag', 'fareAmount']

yellow_taxi_df_updated = yellow_taxi_df[yellow_columns]

In [33]:
green_columns_updated = {'vendorID':'vendor_id', 'lpepPickupDatetime':'pickup_dt', 'lpepDropoffDatetime':'dropoff_dt',
                 'passengerCount':'passengers', 'tripDistance':'distance', 'pickupLongitude':'pickup_lon',
                 'pickupLatitude':'pickup_lat', 'dropoffLongitude':'dropoff_lon', 'dropoffLatitude':'dropoff_lat',
                 'storeAndFwdFlag':'store_flag', 'fareAmount':'fare_amount'}

yellow_columns_updated = {'vendorID':'vendor_id', 'tpepPickupDateTime':'pickup_dt', 'tpepDropoffDateTime':'dropoff_dt',
                 'passengerCount':'passengers', 'tripDistance':'distance', 'startLon':'pickup_lon',
                 'startLat':'pickup_lat', 'endLon':'dropoff_lon', 'endLat':'dropoff_lat',
                 'storeAndFwdFlag':'store_flag', 'fareAmount':'fare_amount'}

In [34]:
green_taxi_df_updated = green_taxi_df_updated.rename(columns = green_columns_updated)
yellow_taxi_df_updated = yellow_taxi_df_updated.rename(columns = yellow_columns_updated)

In [35]:
full_taxi_df = pd.concat([green_taxi_df_updated, yellow_taxi_df_updated], ignore_index=True)
full_taxi_df.reset_index(inplace=True, drop=True)

In [38]:
full_taxi_df = full_taxi_df.dropna(how="all")

In [39]:
full_taxi_df.head(10)

,vendor_id,pickup_dt,dropoff_dt,passengers,distance,pickup_lon,pickup_lat,dropoff_lon,dropoff_lat,store_flag,fare_amount
0,2,2016-01-26 19:18:55,2016-01-26 19:25:43,5,1.47,-73.951836,40.790375,-73.952606,40.805786,N,7.0
1,2,2016-01-20 16:57:59,2016-01-20 17:07:21,1,1.94,-73.952789,40.810596,-73.970711,40.787937,N,9.0
2,2,2016-01-25 20:45:12,2016-01-25 20:48:35,1,0.59,-73.844971,40.720016,-73.853958,40.718266,N,4.0
3,2,2016-01-08 21:00:26,2016-01-08 21:12:51,2,3.03,-73.944031,40.746532,-73.962189,40.714912,N,11.5
4,2,2016-01-28 23:13:14,2016-01-28 23:20:00,1,1.56,-73.952431,40.810928,-73.940186,40.828686,N,7.5
5,2,2016-01-09 09:27:30,2016-01-09 09:46:29,1,5.50,-73.912827,40.744274,-73.987724,40.738144,N,18.5
6,2,2016-01-29 19:21:42,2016-01-29 19:30:13,1,1.42,-73.939331,40.805351,-73.949615,40.793457,N,7.5
7,2,2016-01-08 22:43:49,2016-01-08 22:47:09,1,0.70,-73.947746,40.798927,-73.956863,40.802357,N,4.5
8,2,2016-01-07 07:27:27,2016-01-07 07:35:08,1,1.47,-73.938950,40.805069,-73.953468,40.790947,N,7.5
9,2,2016-01-09 09:36:57,2016-01-09 09:41:45,1,1.17,-73.958580,40.681942,-73.975868,40.683807,N,6.0

In [40]:
full_taxi_df.describe()

,passengers,distance,pickup_lon,pickup_lat,dropoff_lon,dropoff_lat,fare_amount
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,1.501000,2.818102,-73.297065,40.386073,-73.363052,40.422276,12.200358
std,1.176039,3.446538,6.946127,3.827447,6.588527,3.630424,11.299947
min,0.000000,0.000000,-75.104485,0.000000,-74.663643,0.000000,-150.000000
25%,1.000000,1.000000,-73.985674,40.720476,-73.985056,40.719839,6.500000
50%,1.000000,1.710000,-73.963490,40.750393,-73.964867,40.751266,9.000000
75%,1.000000,3.260000,-73.941267,40.774721,-73.939327,40.774381,14.500000
max,6.000000,124.240000,0.000000,41.014610,0.000000,41.269920,510.500000

In [45]:
full_taxi_df.dtypes

vendor_id              object
pickup_dt      datetime64[ns]
dropoff_dt     datetime64[ns]
passengers              int32
distance              float64
pickup_lon            float64
pickup_lat            float64
dropoff_lon           float64
dropoff_lat           float64
store_flag             object
fare_amount           float64
dtype: object

In [46]:
full_taxi_df['vendor_id'].unique()

array([2, 1, '2', '1'], dtype=object)

In [56]:
full_taxi_df['store_flag'].unique()

array(['N', 'Y'], dtype=object)

In [55]:
full_taxi_df[(full_taxi_df['pickup_lat']>0) 
             & (full_taxi_df['dropoff_lat']>0) 
             & (full_taxi_df['pickup_lon']<0)
             & (full_taxi_df['dropoff_lon']<0)
             & (full_taxi_df['fare_amount']>=0)].describe()

,passengers,distance,pickup_lon,pickup_lat,dropoff_lon,dropoff_lat,fare_amount
count,19770.000000,19770.000000,19770.000000,19770.000000,19770.000000,19770.000000,19770.000000
mean,1.502377,2.826810,-73.955305,40.748725,-73.954739,40.748229,12.228466
std,1.179186,3.445409,0.044958,0.045500,0.046830,0.047088,11.134200
min,0.000000,0.000000,-75.104485,39.940815,-74.663643,40.541882,0.000000
25%,1.000000,1.000000,-73.985870,40.721329,-73.985207,40.720757,6.500000
50%,1.000000,1.720000,-73.963844,40.750769,-73.965485,40.751612,9.000000
75%,1.000000,3.280000,-73.942162,40.775057,-73.940254,40.774519,14.500000
max,6.000000,124.240000,-73.630646,41.014610,-73.528397,41.035172,510.500000

In [69]:
full_taxi_df[full_taxi_df['distance']==0]

,vendor_id,pickup_dt,dropoff_dt,passengers,distance,pickup_lon,pickup_lat,dropoff_lon,dropoff_lat,store_flag,fare_amount
145,2,2016-01-21 05:40:31,2016-01-21 05:40:47,1,0.0,-73.950485,40.826298,-73.948547,40.825642,N,2.5
200,2,2016-01-11 17:01:36,2016-01-11 17:05:16,1,0.0,-73.983009,40.639000,-73.983009,40.638935,N,4.0
270,2,2016-01-27 22:47:38,2016-01-27 22:47:51,1,0.0,-73.978912,40.575462,-73.978905,40.575459,N,8.0
531,1,2016-01-06 22:52:06,2016-01-06 22:52:31,1,0.0,-73.783318,40.712055,-73.783318,40.712055,N,2.5
565,2,2016-01-30 12:42:46,2016-01-30 12:43:35,0,0.0,-73.929695,40.832245,-73.929680,40.832264,N,9.0
...,...,...,...,...,...,...,...,...,...,...,...
19220,1,2016-01-30 06:13:48,2016-01-30 06:14:32,1,0.0,-73.983322,40.758636,-73.983315,40.758606,N,8.0
19351,1,2016-01-16 07:13:08,2016-01-16 07:14:10,1,0.0,-73.970383,40.756714,-73.970284,40.756653,N,5.0
19618,2,2016-01-03 03:24:56,2016-01-03 03:31:04,1,0.0,0.000000,0.000000,-73.933510,41.269920,N,-149.0
19882,2,2016-01-12 23:52:44,2016-01-13 01:27:54,2,0.0,-73.991280,40.746342,-74.003693,40.715870,N,58.0
19911,2,2016-01-17 15:12:39,2016-01-17 15:12:53,6,0.0,-73.790024,40.643791,-73.789978,40.643803,N,2.5